<% @events.each do |event| %>
  <%= event.word %><br>
  <%= event.date %><br>
  <%= event.time %><br>
<% end %>

<div id="chart1" style="height:400px;width:300px; "></div>

<script>
$(document).ready(function(){
  var plot1 = $.jqplot ('chart1', [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]);
});
</script>