<table class="table table-hover">

    <!-- Table header -->

        <thead>
            <tr>
                <th>Personal Statistics</th>
            </tr>
        </thead>
     
    <!-- Table footer -->
        <tfoot>
            <tr> </tr>

        </tfoot>
    
    <!-- Table body -->
     
        <tbody>
            <tr>
                  <td>Most Used Word</td>
                  <td>"hi"</td>
            </tr>
            <tr>
                  <td>Most Used Program</td>
                  <td>TextMate</td>
            </tr>
            <tr>
              <td>Most Used Character</td>
              <td>"COMMAND-TAB"</td>

        </tbody>
</table>