<div id="chart1" style="height:600px;width:800px;"></div>
<script>
$(document).ready(function(){
  var plot1 = $.jqplot ('chart1', [<%= @data.to_json %>], {
      // Give the plot a title.
      title: 'Words Typed',
      grid: { background: '#ffffff'},
      markerOptions: {style:'diamond'},
      renderer: $.jqplot.LineRenderer,
      rendererOption:{ highlightMouseOver :true},
      axesDefaults: {
        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
      },
      axes: {
        xaxis: {
          label: "Time",  
	  min: 0,
	  max: 60,
	  tickInterval: 5,
          pad: 0
        },
        yaxis: {
          label: "Number of Words",
          min:0
        }
      }
    });     
});
</script>

<div class="bottom row-fluid">
  <div class="tabbable tabs-below">
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
      </div>
      <div class="tab-pane active" id="tab2">
      </div>
<div class = "tab-pane" id = "tab3">
</div>
<div class = "tab-pane" id = "tab4">
</div>
    </div>
    <ul class="nav nav-tabs">
      <li><a href="/">About Me</a></li>
      <li class="active"><a href="/1">Words</a></li>
<li><a href="/2">Clicks</a></li>
<li><a href="/3">Programs</a></li>
    </ul>
    <div class="user">
      <div class="btn-group dropup">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i><b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
