<div id="chart3" style="height:600px;width:800px; "></div>

<script type="text/javascript" src="../../assets/javascripts/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.bubbleRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.categoryAxisRenderer.min.js"></script>

<script>
$(document).ready(function(){
  
  // Can specify a custom tick Array.
  // Ticks should match up one for each y value (category) in the series.
  var ticks = [<% @data.to_json %>];
  var plot3 = $.jqplot('chart3', [<%= @data2.to_json %>], {
  	title :'Program Usage Times',
    grid:{background: '#ffffff'},
    seriesDefaults:{
        renderer: $.jqplot.BarRenderer,
        rendererOptions: {fillToZero: true, varyBarColor :true}
    },
    axes: {
      // Use a category axis on the x axis and use our custom ticks.
      xaxis: {
        renderer: $.jqplot.CategoryAxisRenderer,
        ticks: ticks,
    		label: "Program Used"
      },
      yaxis: {
        min: 0,
        pad: 1.05,
        tickOptions: {formatString: '%d'},
    		label: "Time used"
      }
    },
    seriesColors: ["#051ce2", "#efe932"]
  });   
});
</script>

<div class="bottom row-fluid">
  <div class="tabbable tabs-below">
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
      </div>
      <div class="tab-pane" id="tab2">
      </div>
<div class = "tab-pane" id = "tab3">
</div>
<div class = "tab-pane active" id = "tab4">
</div>
    </div>
    <ul class="nav nav-tabs">
      <li><a href="/">About Me</a></li>
      <li><a href="/1">Words</a></li>
<li><a href="/2">Clicks</a></li>
<li class="active"><a href="/3">Programs</a></li>
    </ul>
    <div class="user">
      <div class="btn-group dropup">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i><b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>