<div id="chart2" style="height:600px;width:800px; "></div>

<script type="text/javascript" src="../../assets/javascripts/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.bubbleRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="../../plugins/javascripts/jqplot.categoryAxisRenderer.min.js"></script>
<script>
$(document).ready(function(){
   
 
    
  var arr = [[110, 200, 5, "Acura"], [450, 90, 5, "Alfa Romeo"], 
    [240, 500, 5, "AM General"], [500, 230, 5, "Aston Martin Lagonda"], 
    [180, 170, 5, "Audi"], [70, 80, 5, "BMW"], [200, 130, 5, "Bugatti"]];
  
  var plot2 = $.jqplot('chart2',[arr],{
        
	title: 'Mouse Clicks',
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        },

	seriesDefaults:{
            renderer: $.jqplot.BubbleRenderer,
            rendererOptions: {
                bubbleAlpha: 0.6,
                highlightAlpha: 0.8,
		autoscaleBubbles :false
            },
            shadow: true,
            shadowAlpha: 0.05
        },
	axes:{
	    yaxis:{min:0, max:800, tickInterval: 80, label: "Y-position"},
	    xaxis:{min:0, max:1280, tickInterval:128, label: "X-position"}
	}
  });
 

     
    
});
</script>


<div class="bottom row-fluid">
  <div class="tabbable tabs-below">
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
      </div>
      <div class="tab-pane" id="tab2">
      </div>
<div class = "tab-pane active" id = "tab3">
</div>
<div class = "tab-pane" id = "tab4">
</div>
    </div>
    <ul class="nav nav-tabs">
      <li><a href="/">About Me</a></li>
      <li><a href="/1">Clicks</a></li>
<li class="active"><a href="/2">Words</a></li>
<li><a href="/3">Programs</a></li>
    </ul>
    <div class="user">
      <div class="btn-group dropup">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i><b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
