<div id="chart2" style="height:600px;width:800px; "></div>


<script>
$(document).ready(function(){
  var plot2 = $.jqplot('chart2',[<%= @data.to_json %>],{
        
	title: 'Mouse Clicks',
  grid:{ background: '#ffffff'},
        axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        },
	seriesDefaults:{
            renderer: $.jqplot.BubbleRenderer,
            rendererOptions: {
                bubbleAlpha: 0.6,
                highlightAlpha: 0.8,
		autoscaleBubbles :true
            },
            shadow: true,
            shadowAlpha: 0.05
        },
	axes:{
	    yaxis:{min:0, max:800, tickInterval: 80, label: "Y-position"},
	    xaxis:{min:0, max:1280, tickInterval:128, label: "X-position"}
	}
  });   
});
</script>


<div class="bottom row-fluid">
  <div class="tabbable tabs-below">
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
      </div>
      <div class="tab-pane" id="tab2">
      </div>
<div class = "tab-pane active" id = "tab3">
</div>
<div class = "tab-pane" id = "tab4">
</div>
    </div>
    <ul class="nav nav-tabs">
      <li><a href="/">About Me</a></li>
      <li><a href="/1">Words</a></li>
<li class="active"><a href="/2">Clicks</a></li>
<li><a href="/3">Programs</a></li>
    </ul>
    <div class="user">
      <div class="btn-group dropup">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user"></i><b class="caret"></b>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
